<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main_layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>${title}</title>
    <meta name="keywords" content="${systemName}"/>
    <meta name="description" content="${content}"/>
    <!-- Data Tables -->
</head>
<body class="gray-bg">
<div class="ibox-content" layout:fragment="content">
    <form class="form-inline" id="condition_form" data-grid-id="grid">
        <div class="form-group">
            <div class="form-group">
                <label for="yearMonth">年月：</label>
                <input id="yearMonth" class="laydate-icon2 form-control layer-date"
                       name="yearMonth"
                       th:value="${#joda.format(yearMonth, 'yyyy-MM')}" autocomplete="off"
                       style="width: 200px;" placeholder="yyyy-MM"/>
            </div>
            <div class="form-group">
                <label for="sendCompanyId" class="sr-only">発注元会社</label>
                <!--      <select placeholder="元会社" class="form-control number" validate="{maxlength:10,number:true}" th:field="${projectDto.sendCompanyId}">-->
                <!--       <option value="">-&#45;&#45;元会社を選択-&#45;&#45;</option>-->
                <!--       <option th:each="item : ${@companyService.selectByExample(null)}"-->
                <!--               th:value="${item.companyId}" th:text="${item.companyName}"></option>-->
                <!--      </select>-->
                <input type="text" placeholder="発注元会社" class="form-control " validate="{maxlength:128}"
                       th:field="${projectDto.sendCompanyName}"/>
            </div>
            <div class="form-group">
                <label for="receiveCompanyId" class="sr-only">先会社</label>
                <!--      <select placeholder="先会社" class="form-control number" validate="{maxlength:10,number:true}" th:field="${projectDto.receiveCompanyId}">-->
                <!--       <option value="">-&#45;&#45;先会社を選択-&#45;&#45;</option>-->
                <!--       <option th:each="item : ${@companyService.selectByExample(null)}" th:value="${item.companyId}" th:text="${item.companyName}"></option>-->
                <!--      </select>-->
                <input type="text" placeholder="発注先会社" class="form-control " validate="{maxlength:128}"
                       th:field="${projectDto.receiveCompanyName}"/>
            </div>
            <div class="form-group">
                <label for="projectName" class="sr-only">プロジェクト名</label>
                <input type="text" placeholder="プロジェクト名" class="form-control " validate="{maxlength:128}"
                       th:field="${projectDto.projectName}"/>
            </div>
            <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索
            </button>
            <button class="btn btn-white" type="reset">リセット</button>
        </div>
    </form>
    <div class="hr-line-dashed"></div>

    <table id="grid" class="table table-bordered table-hover"
           data-opt="{
          'loadUrl':'api/projectRest/list',
          'addUrl':'project/insert',
          'editUrl':'project/edit',
          'deleteUrl':'api/projectRest',
          'addOfferUrl':'project/offerList'}"
           data-key="projectId">

    </table>

</div>
<div layout:fragment="js">
    <script type="text/javascript">

        var yearMonth = $('#yearMonth').val();

        $(document).ready(function () {
            laydate.render({
                elem: '#yearMonth',
                type: 'month',
                format: 'yyyy-MM',
                theme: 'molv',
                lang: 'ja',
                trigger: 'click',
                btns: ['now', 'confirm']
            });
        });
    </script>
    <script th:src="@{/js/main/project/list.js}"></script>
</div>
<h5 layout:fragment="caption">プロジェクト一覧画面</h5>
</body>
</html>