<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid">
    <div class="form-group">
     <label for="yearMonth">年月：</label>
     <input id="yearMonth" class="laydate-icon2 form-control layer-date"
            name="yearMonth"
            th:value="${#joda.format(yearMonth, 'yyyy-MM')}" autocomplete="off"
            style="width: 200px;" placeholder="yyyy-MM" />
    </div>
    <div class="form-group">
     <label for="sendCompanyId" class="sr-only">発注元会社</label>
<!--     <select placeholder="発注元会社ID" class="form-control number" validate="{maxlength:10,number:true}" th:field="${invoiceDto.sendCompanyId}">-->
<!--      <option value="">-&#45;&#45;発注元会社を選択-&#45;&#45;</option>-->
<!--      <option th:each="item : ${@companyService.selectByExample(null)}"-->
<!--              th:value="${item.companyId}" th:text="${item.companyName}"></option>-->
<!--     </select>-->
     <input type="text" placeholder="発注元会社" class="form-control " validate="{maxlength:128}" th:field="${invoiceDto.sendCompanyName}" />
    </div>
    <div class="form-group">
     <label for="receiveCompanyId" class="sr-only">発注先会社</label>
<!--     <select placeholder="発注先会社" class="form-control number" validate="{maxlength:10,number:true}" th:field="${invoiceDto.receiveCompanyId}">-->
<!--      <option value="">-&#45;&#45;発注先会社を選択-&#45;&#45;</option>-->
<!--      <option th:each="item : ${@companyService.selectByExample(null)}"-->
<!--              th:value="${item.companyId}" th:text="${item.companyName}"></option>-->
<!--     </select>-->
     <input type="text" placeholder="発注先会社" class="form-control " validate="{maxlength:128}" th:field="${invoiceDto.receiveCompanyName}" />
    </div>
    <div class="form-group" type="hidden">
     <label for="projectName" class="sr-only">プロジェクト</label>
     <input id="projectName" type="hidden" placeholder="プロジェクト" class="form-control " validate="{maxlength:128}" th:name="projectName" th:value="${projectName}" />
    </div>
    <div class="form-group">
     <label for="projectName" class="sr-only">ステータス</label>
     <select type="text" placeholder="ステータス" class="form-control number" validate="{maxlength:3}" th:field="${invoiceDto.invoiceStatus}" >
      <option value="" text="">ステータスを選択</option>
      <option value="00" text="未発注">未発注</option>
      <option value="01" text="発注済">発注済</option>
     </select>
    </div>
    <div class="form-group">
     <label for="projectName" class="sr-only">支払状態</label>
     <select type="text" placeholder="支払状態" class="form-control number" validate="{maxlength:3}" th:field="${invoiceDto.invoicePayStatus}" >
      <option value="" text="">支払状態を選択</option>
      <option value="00" text="未発注">未支払</option>
      <option value="01" text="発注済">支払済</option>
     </select>
    </div>
    <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button>
    <button class="btn btn-white" type="reset">リセット</button>
    <button class="btn btn-primary m-l-sm m-t-xs" type="submit"
            onclick="exportExcel();" id="export" data-grid-id="grid">請求書出力</button>
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover"
          data-opt="{
          'loadUrl':'api/invoiceRest/list',
          }" data-key="invoiceId"></table>
  </div>
  <div layout:fragment="js">
   <script type="text/javascript">

            var yearMonth = $('#yearMonth').val();
            var projectName = $('#projectName').val();

			function exportExcel() {

				var url = '/report/invoice/export?yearMonth=' + yearMonth + '&projectName=' + projectName;
				location.href = url;

			}

			$(document).ready(function() {
				laydate.render({
					elem : '#yearMonth',
					type : 'month',
					format : 'yyyy-MM',
					theme : 'molv',
					lang : 'ja',
					trigger : 'click',
					btns : [ 'now', 'confirm' ]
				});
			});
		</script>
   <script th:src="@{/js/main/invoice/listForStaff.js}"></script>
  </div>
  <h5 layout:fragment="caption">請求一覧画面</h5> 
 </body>
</html>