<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid"> 
    <div class="form-group">
     <div class="form-group">
      <input id="offerId" type="hidden" placeholder="見積ID" class="form-control " validate="{maxlength:10,number:true}" th:field="${offerDto.offerId}" />
     </div>
     <div class="form-group">
      <label for="yearMonth">年月：</label>
      <input id="yearMonth" class="laydate-icon2 form-control layer-date"
             name="yearMonth"
             th:value="${#joda.format(yearMonth, 'yyyy-MM')}" autocomplete="off"
             style="width: 200px;" placeholder="yyyy-MM" />
     </div>
     <div class="form-group"> 
      <label for="sendCompanyId" class="sr-only">発注元会社</label>
<!--      <select placeholder="発注元会社" class="form-control number" validate="{maxlength:10,number:true}" th:field="${offerDto.sendCompanyId}">-->
<!--            <option value="">-&#45;&#45;発注元会社を選択-&#45;&#45;</option>-->
<!--            <option th:each="item : ${@companyService.selectByExample(null)}"-->
<!--                    th:value="${item.companyId}" th:text="${item.companyName}"></option>-->
<!--      </select>-->
      <input type="text" placeholder="発注元会社" class="form-control " validate="{maxlength:128}" th:field="${offerDto.sendCompanyName}" />
     </div> 
     <div class="form-group"> 
      <label for="receiveCompanyId" class="sr-only">発注先会社</label>
<!--      <select placeholder="発注先会社" class="form-control number" validate="{maxlength:10,number:true}" th:field="${offerDto.receiveCompanyId}">-->
<!--            <option value="">-&#45;&#45;発注先会社を選択-&#45;&#45;</option>-->
<!--            <option th:each="item : ${@companyService.selectByExample(null)}"-->
<!--                    th:value="${item.companyId}" th:text="${item.companyName}"></option>-->
<!--      </select>-->
      <input type="text" placeholder="発注先会社" class="form-control " validate="{maxlength:128}" th:field="${offerDto.receiveCompanyName}" />
     </div>
     <div class="form-group" type="hidden">
      <label for="projectName" class="sr-only">プロジェクト</label>
      <input id="projectName" type="hidden" placeholder="プロジェクト" class="form-control " validate="{maxlength:128}" th:name="projectName" th:value="${projectName}" />
     </div>
     <div class="form-group">
      <label for="offerStatus" class="sr-only">ステータス</label>
      <select type="text" placeholder="ステータス" class="form-control number" validate="{maxlength:3}" th:field="${offerDto.offerStatus}" >
       <option value="" text="">ステータスを選択</option>
       <option value="00" text="未発注">未発注</option>
       <option value="01" text="発注済">発注済</option>
      </select>
     </div>
     <div class="form-group">
      <label for="projectId" class="sr-only">見積番号</label>
      <input type="text" placeholder="見積番号" class="form-control " validate="{maxlength:128}" th:field="${offerDto.offerNumber}" />
     </div>
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button> 
     <button class="btn btn-white" type="reset">リセット</button>
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit"
             onclick="exportExcel();" id="export" data-grid-id="grid">見積書出力</button>
    </div> 
   </form> 
   <div class="hr-line-dashed" overflow="scroll" overflow-x="scroll"></div>
   <table id="grid" class="table table-bordered table-hover"
          data-opt="{
          'loadUrl':'api/offerRest/list',
          }" data-key="offerId"></table>
  </div>
  <div layout:fragment="js">
   <script type="text/javascript">

            var yearMonth = $('#yearMonth').val();
            var projectName = $('#projectName').val();

			function exportExcel() {

				var url = '/report/offer/export?yearMonth=' + yearMonth + '&projectName=' + projectName;
				location.href = url;

			}

			$(document).ready(function() {
				laydate.render({
					elem : '#yearMonth',
					type : 'month',
					format : 'yyyy-MM',
					theme : 'molv',
					lang : 'ja',
					trigger : 'click',
					btns : [ 'now', 'confirm' ]
				});
			});
		</script>
   <script th:src="@{/js/main/offer/listForStaff.js}"></script>
  </div>
  <h5 layout:fragment="caption">見積一覧画面</h5> 
 </body>
</html>