<head layout:fragment=”header”>
<meta charset="utf-8"></meta>
<meta name="basepath" th:content="@{/}"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="renderer" content="webkit"></meta>

<meta name="keywords" content=""></meta>
<meta name="description" content=""></meta>

<title>注文管理システム</title>
<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}">
<link rel="stylesheet" th:href="@{/css/animate.min.css?v=3.4.0}">
<link rel="stylesheet" th:href="@{/css/style.min.css?v=1.0.1}">
<link rel="stylesheet" th:href="@{/css/plugins/iCheck/custom.css}">

<style type="text/css">
		.layui-laydate-content>.layui-laydate-list {
	            padding-bottom: 0px;
	            overflow: hidden;
	        }
	        .layui-laydate-content>.layui-laydate-list>li{
	            width:25%
	        }
 
			.merge-box .scrollbox .merge-list {
			    padding-bottom: 5px;
			}
 
</style>
    <script th:src="@{/js/cj_common.js}"></script>
<link th:href="@{/css/plugins/jqgrid/ui.jqgridffe4.css?0820}" rel="stylesheet">
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
<script th:src="@{/js/plugins/layer/layDate-v5.0.9/laydate/laydate.js}"></script>
<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script th:src="@{/js/plugins/jqgrid/i18n/grid.locale-ja.js?0820}"></script>
<script th:src="@{/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820}"></script>

<script th:src="@{/js/plugins/validate/jquery.metadata.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.js}"></script>
<script th:src="@{/js/plugins/form/jquery.form.js}"></script>

<script th:src="@{/js/jquery.serialize-object.min.js}"></script>
<script type="text/javascript">
var cj = {};
</script>
<script th:src="@{/js/lang.js}"></script>
<script th:src="@{/js/cj_http.js}"></script>
<script th:src="@{/js/cj_form.js}"></script>
<script th:src="@{/js/cj_table.js}"></script>
<script th:src="@{/js/jqgrid-ext.js}"></script>
<script th:src="@{/js/cj_common.js}"></script>
</head>