<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main_layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>${title}</title>
    <meta name="keywords" content="${systemName}"/>
    <meta name="description" content="${content}"/>
    <!-- Data Tables -->
</head>
<body class="gray-bg">
<div class="ibox-content" layout:fragment="content">
    <form class="form-inline" id="condition_form" data-grid-id="grid">
        <div class="form-group">
            <div class="form-group">
                <label for="companyId" class="sr-only">会社</label>
                <select placeholder="会社" class="form-control number" validate="{maxlength:10,number:true}"
                        th:field="${appUserDto.companyId}">
                    <option value="">---会社を選択---</option>
                    <option th:each="item : ${@companyService.selectByExample(null)}"
                            th:value="${item.companyId}" th:text="${item.companyName}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="userName" class="sr-only">名前</label>
                <input type="text" placeholder="名前" class="form-control " validate="{maxlength:64}"
                       th:field="${appUserDto.userName}"/>
            </div>
            <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索
            </button>
            <button class="btn btn-white" type="reset">リセット</button>
        </div>
    </form>
    <div class="hr-line-dashed"></div>
    <table id="grid" class="table table-bordered table-hover"
           data-opt="
   {'loadUrl':'api/guestRest/list',
   'addUrl':'guest/insert',
   'editUrl':'guest/edit',
   'deleteUrl':'api/guestRest'}" data-key="userId"></table>
</div>
<div layout:fragment="js">
    <script th:src="@{/js/main/guest/list.js}"></script>
</div>
<h5 layout:fragment="caption">ユーザー一覧画面</h5>
</body>
</html>