<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title}</title>
    <meta name="keywords" content="${systemName}" />
    <meta name="description" content="${content}" />
    <!-- Data Tables -->
</head>
<body class="gray-bg">
<div class="ibox-content" layout:fragment="content">
    <form class="form-inline" id="condition_form" data-grid-id="grid">
        <div class="form-group">
            <div class="form-group">
                <label for="yearMonth">年月：</label>
                <input id="yearMonth" readonly="readonly" class="laydate-icon2 form-control layer-date"
                       name="yearMonth"
                       th:value="${#joda.format(yearMonth, 'yyyy-MM')}" autocomplete="off"
                       style="width: 200px;" placeholder="yyyy-MM" />
            </div>
            <div class="form-group">
                <label for="userId" class="sr-only">スタッフ</label>
                <select placeholder="スタッフID" disabled="disabled" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${workDto.userId}">
                    <option value="">---スタッフを選択---</option>
                    <option th:each="item : ${@appUserService.selectByExample(null)}"
                            th:value="${item.userId}" th:text="${item.userName}"></option>
                </select>
            </div>
        </div>
    </form>
    <div class="hr-line-dashed"></div>
    <table id="grid" class="table table-bordered table-hover" data-opt="{'loadUrl':'api/workRest/list','addUrl':'work/insert/'+yearMonth+'/'+userId,'editUrl':'work/edit/'+yearMonth,'deleteUrl':'api/workRest'}" data-key="workId"></table>
</div>
<div layout:fragment="js">
    <script type="text/javascript">

			var userId = $('#userId').val();
			var yearMonth = $('#yearMonth').val();

	</script>
    <script th:src="@{/js/main/work/staffWorkList.js}"></script>
</div>
<h5 layout:fragment="caption">作業一覧画面</h5>
</body>
</html>