<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"></meta>
<meta name="basepath" th:content="@{/}"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="renderer" content="webkit"></meta>

<meta name="keywords" content=""></meta>
<meta name="description" content=""></meta>
<title>社内管理システム</title>
<link rel="shortcut icon" href="favicon.ico">

<link th:href="@{css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
<link th:href="@{css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
<link th:href="@{css/animate.min.css}" rel="stylesheet">
<link th:href="@{css/style.min862f.css?v=4.1.0}" rel="stylesheet">
<link rel="stylesheet" th:href="@{css/plugins/toastr/toastr.min.css}">
<link rel="stylesheet"
	th:href="@{css/plugins/sweetalert/sweetalert.css}">



<style type="text/css">
.layui-laydate-content>.layui-laydate-list {
	padding-bottom: 0px;
	overflow: hidden;
}

.layui-laydate-content>.layui-laydate-list>li {
	width: 50%
}

.merge-box .scrollbox .merge-list {
	padding-bottom: 5px;
}
</style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg"
	style="overflow: hidden">

	<div id="wrapper">
		<!--左侧导航开始-->
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="nav-close">
				<i class="fa fa-times-circle"></i>
			</div>
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<div class="dropdown profile-element">
							<span><img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}" /></span>
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="clear">
									<span class="block m-t-xs">
										<strong class="font-bold" th:text="${user.userName}">C&J管理者</strong>
										<b class="caret"></b>
									</span>
								</span>
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs"></ul>
						</div>
						<div class="logo-element">C&J</div>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-home"></i>
							<span id="task_span" class="nav-label">業務管理</span>
							<span class="fa arrow"></span>
						</a>
						<ul class="nav nav-second-level">
							<li>
								<a class="J_menuItem"
								   th:href="@{/offer/list}" data-index="0">見積管理</a>
							</li>
							<li><a class="J_menuItem"
								   th:href="@{/ordering/list}">注文管理</a></li>
							<li><a class="J_menuItem"
								   th:href="@{/invoice/list}">請求管理</a></li>
							<li><a class="J_menuItem" th:href="@{/work/list}">勤务管理</a>
							</li>
							<li><a class="J_menuItem" th:href="@{/commute/list}">交通费管理</a>
							</li>
						</ul>
					</li>

					<li th:if="${user.userType} == 0">
						<a href="#">
							<i class="fa fa-line-chart"></i>
							<span class="nav-label">財務管理</span>
							<span class="fa arrow"></span>
						</a>
						<ul class="nav nav-second-level">
							<li th:if="${user.userType} == 0"><a class="J_menuItem"
								   th:href="@{/salary/list}">給料管理</a></li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem"
								   th:href="@{/cost/list}">費用管理</a></li>
						</ul>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-desktop"></i>
							<span class="nav-label">管理者</span>
							<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/staff/list}">スタッフ管理</a>
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/guest/list}">ゲスト管理</a>
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/company/list}">会社管理</a>
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/appUser/list}">ユーザー管理</a>
							</li>
<!--							<li><a class="J_menuItem" th:href="@{/password/list}">パスワード管理</a>-->
<!--							</li>-->
							<li><a class="J_menuItem" th:href="@{/staffProjectInfo/list}">スタッフプロジェクト情報管理</a>
							</li>
							<li><a class="J_menuItem" th:href="@{/staffSalaryInfo/list}">スタッフ給料情報管理</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-building"></i>
							<span class="nav-label">税率、保険料率管理</span>
							<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/tax/list}">消費税管理</a>
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/personalIncomeTax/list}">個人所得税率管理</a>
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/labourInsurance/list}">労働保険管理</a>
							</li>
							<li th:if="${user.userType} == 0"><a class="J_menuItem" th:href="@{/socialInsurance/list}">社会保険管理</a>
							</li>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!--左侧导航结束-->
		<!--右侧部分开始-->
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation"
					style="margin-bottom: 0">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
							href="#"><i class="fa fa-bars"></i> </a>
						<div class="navbar-brand" style="padding-top: 20px;">社内業務管理システム</div>
					</div>

				</nav>
			</div>
			<div class="row content-tabs">
				<button class="roll-nav roll-left J_tabLeft">
					<i class="fa fa-backward"></i>
				</button>
				<nav class="page-tabs J_menuTabs">
					<div class="page-tabs-content"></div>
				</nav>
				<button class="roll-nav roll-right J_tabRight">
					<i class="fa fa-forward"></i>
				</button>
				<div class="btn-group roll-nav roll-right">
					<button class="dropdown J_tabClose" data-toggle="dropdown">
						閉じる<span class="caret"></span>

					</button>
					<ul role="menu" class="dropdown-menu dropdown-menu-right">
						<li class="J_tabShowActive"><a>現在のタブを見つける</a></li>
						<li class="divider"></li>
						<li class="J_tabCloseAll"><a>すべてのタブを閉じる</a></li>
						<li class="J_tabCloseOther"><a>他のタブを閉じる</a></li>
					</ul>
				</div>
				<a th:href="@{/signout}" class="roll-nav roll-right J_tabExit btn-logout"><i
					class="fa fa fa-sign-out"></i>Exit</a>
			</div>
			<div class="row J_mainContent" id="content-main">
				<iframe class="J_iframe" name="iframe0" width="100%" height="100%"
					src="" frameborder="0" data-id="index.html" seamless></iframe>
			</div>

		</div>
	</div>

	<div layout:replace="/layout/footer.html"></div>


	<script th:src="@{js/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{js/plugins/layer/layer.min.js}"></script>
	<script th:src="@{js/hplus.min.js?v=4.1.0}"></script>
	<script type="text/javascript" th:src="@{js/contabs.min.js}"></script>
	<script th:src="@{js/plugins/pace/pace.min.js}"></script>
	<!-- Toastr script -->
	<script th:src="@{js/plugins/toastr/toastr.min.js}"></script>
	<!-- Sweet alert -->
	<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>


	<script>
		toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"progressBar" : true,
			"positionClass" : "toast-bottom-right",
			"showDuration" : "400",
			"hideDuration" : "1000",
			"timeOut" : "1000",
			"extendedTimeOut" : "0",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		};
		$(function() {
			$("#task_span").trigger("click");

			$('.btn-logout').click(function() {
				swal({
					title : '終了確認',
					text : 'ログアウトしてもよろしいですか？',
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : "確認",
					cancelButtonText : 'キャンセル',
					closeOnConfirm : false
				}, function(isConfirm) {
					if (isConfirm) {
						location.href = '/signout';
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>
